<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <style>
            body { 
                padding-top: 80px; 
                word-wrap: break-word; 
            }
        </style>
    </head>
    <body>
        <div class="container">

            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Proof Page</h1>
                <a href="/profile" class="btn btn-info btn-sm">Profile</a>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>

            <div class="row">

                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Hi! </h3>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>
